*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.boxmadre{
    width: 500px;
    height: 500px;
    display: flex;
    border: 2px solid black;
    flex-direction: row;
}

.box{
    
    padding:10px;
    border: 2px solid purple;
    background-color: violet; 
    flex-flow: column wrap;
}

.boxmadre2{
    display: flex;
    border: 2px solid black;
    flex-flow: row wrap;   
}

li {
    display: inline-flex;
    width: 200px;
    height: 100px;
    border: 2px solid purple;
    background-color: violet; 
}